# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/


# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# mypy
.mypy_cache/

# PyCharm
.idea/

# Docker
.docker-tox
.docker-current
.eggs

# tests
.pytest_cache
tests/*.idx
tests/data
major_basins_of_the_world_0_0_0*
Major_Basins_of_the_World.*
zzz_for_spectra.grib

# diagnostics
diag/data
diag/mem_result.yaml
diag/.benchmarks

# vscode
.vscode/
.env

# mac
.DS_Store
