#---------------------------------#
#      general configuration      #
#---------------------------------#

sudo: false

branches:
  only:
    - develop
    - master

language: python

matrix:
  include:
    - os: linux
      dist: xenial
      env: MINICONDA_FILE="Miniconda3-latest-Linux-x86_64.sh"

env:
  global:
    - METVIEW_PYTHON_SRC=${TRAVIS_BUILD_DIR}
    - PYTHONPATH=${PYTHONPATH}:${METVIEW_PYTHON_SRC}:.
    - METVIEW_PYTHON_DEBUG=1
    - MAGPLUS_DEBUG=ON

git:
  depth: 1

before_install:
  # install conda
  - |
    MINICONDA_URL="https://repo.continuum.io/miniconda"
    curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
    bash ${MINICONDA_FILE} -b
  # activate conda
  - source ~/miniconda3/bin/activate
  # auto-yes for conda
  - conda config --set always_yes yes
  # update conda
  #- conda update -n base -c conda-forge conda

install:
  # install deps
  - pip install pytest pytest-cov black coveralls PyYAML
  - conda install -c conda-forge libffi==3.3 python-eccodes cfgrib metview-batch>=5.14.1

#---------------------------------#
#       build configuration       #
#---------------------------------#

script:
  - cd ${METVIEW_PYTHON_SRC}
  - black --check .
  - pytest --cov=metview --cov-report term-missing $EXTRA_FLAGS tests/


after_success:
  - coveralls


deploy:
  provider: pypi
  user: "__token__"
  password:
    secure: "X83UgpZc8wyryivt8lGxgFYGnVHgeX/pwslTRodmwAIEvbjv/Yg41ehRW4NirKWX5iP0YZwHzSZG0PtdPQLpg0kgwZYASfH0uaMZ63fe8h3ODg3V4mQTboIGcPaw9nEuli7ehlQ0Mp1UzK7ZasXrfI8l89AzDjWtOLlpjkom6tZ6mhsdmaUx2eH5RXDfPdeoryKBWOi/xF0Hl1aXb7a3VDrkTm7dDSJGsrxp8wEfjutohBgH45h6EsoI9BCp+g4nkwgYNQ/b0rw62ZlQbWqOz/CiUK22pX1XGl/I6Xn3hMqHnNV6nRxnn/QcCJ24I5nGpedp/P8KqrrlnQExENeyGEqlRZ1iMdzbu914ygicbT9InJotnnMKsxeYR94/Hlhrbhh0D6oCOmvVKbHeJa4efwM/HFMn6obt2EPwVRJqfZ1N2mbqm3GUciWnY21tzFVYaEqF1MG5RWTyxWs2nhIkHxo4CiANA43UYqOdlkDH50LMzPtVD0NciBTCDqhI1+MIa66OwEyMZUe6mgpxYH6OLV7SuxGfG9Zbtz1LJAfMVP1TuUCWbCHKsskQhVP2VykEvwGR1z3nAribR6Drs2joEQUhuDHm780zsnPbspQGqAsiwkI0WuP3QmMTbqI+piVJ1uChuvQu5UHIalbjDBShcJodp/NKCsgCi3N7YCua6IM="
  on:
    tags: true

